<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
  <title>Outfits dashboard</title>
  <link rel="shortcut icon" href="https://plot.ly/gh-pages/documentation/static//images/plotly-ico.png" />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://plot.ly/gh-pages/documentation/static//css/keen-dashboards.css" />
  <link rel="stylesheet" type="text/css" href="static/css/style.css" />
</head>
<body class="application">
    <div id="app">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-collapse collapse">
                    <ul id="nav_bar" class="nav navbar-nav navbar-left">
                        <li :class="{
                        'link--active': current === OVERVIEW 
                        }" class="link" @click="setCurrentExperiment(OVERVIEW)">
                            <a>
                                {{ OVERVIEW }}
                            </a>
                        </li>
                        <li :class="{
                        'link--active': current === item 
                        }" class="dropdown" v-for="item in items" >
                            <a class="dropdown-toggle" href="#"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ item.name }}<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" >
                                <li v-for="modif in item.modifications" @click="setCurrentExperiment(item, modif)" ><a>{{ modif.name }}</a></li>
                            </ul>
                        </li>
                        <li :class="{
                            'link--active': current === ARTICLES 
                            }" class="link" @click="setCurrentExperiment(ARTICLES)">
                                <a>
                                    {{ ARTICLES }}
                                </a>
                        </li>

                        <li :class="{
                            'link--active': current === DATASETS 
                            }" class="link" @click="setCurrentExperiment(DATASETS)">
                                <a>
                                    {{ DATASETS }}
                                </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div v-if="current === OVERVIEW">
            <div class="container overview-tabels">
                <div class="row justify-content-center">
                    <div class="col col-lg-12">
                    <table class="table table-bordered experiments-list">
                    <thead>
                        <tr>
                        <th>Experiment</th>
                        <th>1-10 acc</th>
                        <th>1-10 acc, gap 1</th>
                        <th>1-10 acc, gap 1</th>
                        <th>Precision</th>
                        <th>Recall</th>
                        <th>MAE</th>
                        <th>MSE</th>
                        <th>Corr. pairs</th>
                        </tr>
                    </thead>
                    <tbody v-for="item in items">
                        <tr v-for="modif in item.modifications">
                            <td>{{ item.name + " -> " + modif.name }}</td>
                            <td>{{ modif.results.acc_0 }}</td>
                            <td>{{ modif.results.acc_1 }}</td>
                            <td>{{ modif.results.acc_2 }}</td>
                            <td>{{ modif.results.precision }}</td>
                            <td>{{ modif.results.recall }}</td>
                            <td>{{ modif.results.MAE }}</td>
                            <td>{{ modif.results.MSE }}</td>
                            <td>{{ modif.results.pairs }}</td>
                        </tr>
                    </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>

        <div v-else-if="current === ARTICLES" class="mindmeister-container">
            <iframe class="mindmeister-container" frameborder="0" src="https://www.mindmeister.com/maps/public_map_shell/1000323584/_?width=600&height=400&z=auto" scrolling="no">Your browser is not able to display frames. Please visit <a href="https://www.mindmeister.com/1000323584/_" target="_blank">Существующие исследования</a> on MindMeister.</iframe>
        </div>

        <div v-else-if="current === DATASETS" class="mindmeister-container">
            <iframe class="mindmeister-container" frameborder="0" src="https://www.mindmeister.com/maps/public_map_shell/1000365042/_?width=auto&height=auto&z=auto" scrolling="no">Your browser is not able to display frames. Please visit <a href="https://www.mindmeister.com/1000365042/_" target="_blank">Существующие датасеты</a> on MindMeister.</iframe>
        </div>

        <div v-else>
            <div class="container-fluid">     
                <div class="row description-row">
                    <div class="col-sm-6 col-md-4">
                        <div class="chart-wrapper">
                        <div class="chart-title">
                            Description
                        </div>
                            <div class="chart-stage">
                                <iframe class="description-row" frameborder="0" scrolling="yes" :src="descriptionPath"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="chart-wrapper">
                        <div class="chart-title">
                            Result metrics
                        </div>
                            <div class="chart-stage">
                                <iframe class="description-row" frameborder="0" scrolling="yes" :src="resultMetricsPath"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Architecture
                            </div>
                            <div class="chart-stage">
                                <div class="container-scrollable description-row">
                                    <img :src="schemePath"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>       
                <div class="row plots-row">
                    <div class="col-sm-6">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Loss
                            </div>
                            <div class="chart-stage">
                                <iframe class="plots-row" frameborder="0" scrolling="yes" :src="lossPlotPath"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" v-if="!isRegression">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Accuracy
                            </div>
                            <div class="chart-stage">
                                <div id="grid-1-1">
                                    <div>
                                        <iframe class="plots-row" frameborder="0" scrolling="yes" :src="accuracyPlotPath"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" v-if="isRegression">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                MAE
                            </div>
                            <div class="chart-stage">
                                <div id="grid-1-1">
                                    <div>
                                        <iframe class="plots-row" frameborder="0" scrolling="yes" :src="maePlotPath"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" v-if="isRegression">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                MSE
                            </div>
                            <div class="chart-stage">
                                <div id="grid-1-1">
                                    <div>
                                        <iframe class="plots-row" frameborder="0" scrolling="yes" :src="msePlotPath"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div >

  <script src="https://unpkg.com/vue"></script>
  <script src="static/js/experiments_dir.js"></script>
  <script src="static/js/vue_template.js"></script>

</body>
</html>
