<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
  <title>Outfits dashboard</title>
  <link rel="shortcut icon" href="https://plot.ly/gh-pages/documentation/static//images/plotly-ico.png" />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://plot.ly/gh-pages/documentation/static//css/keen-dashboards.css" />
  <link rel="stylesheet" type="text/css" href="static/css/style.css" />
</head>
<body class="application">
    <div id="app">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-collapse collapse">
                    <ul id="nav_bar" class="nav navbar-nav navbar-left">
                        <li :class="{
                        'link--active': current === OVERVIEW 
                        }" class="link" @click="setCurrentExperiment(OVERVIEW)">
                            <a>
                                {{ OVERVIEW }}
                            </a>
                        </li>
                        <li :class="{
                        'link--active': current === item 
                        }" class="dropdown" v-for="item in items" >
                            <a class="dropdown-toggle" href="#"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ item.name }}<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" >
                                <li v-for="modif in item.modifications" @click="setCurrentExperiment(item, modif)" ><a>{{ modif.name }}</a></li>
                            </ul>
                        </li>
                        <li :class="{
                            'link--active': current === ARTICLES 
                            }" class="link" @click="setCurrentExperiment(ARTICLES)">
                                <a>
                                    {{ ARTICLES }}
                                </a>
                        </li>

                        <li :class="{
                            'link--active': current === DATASETS 
                            }" class="link" @click="setCurrentExperiment(DATASETS)">
                                <a>
                                    {{ DATASETS }}
                                </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div v-if="current === OVERVIEW">
            <div class="container overview-tabels">
                <div class="row justify-content-center">
                    <div class="col col-lg-12">
                    <table class="table table-bordered table-hover experiments-list">
                    <thead>
                        <tr class="info">
                            <th>Experiment</th>
                            <th>1-10 acc</th>
                            <th>1-10 acc, gap 1</th>
                            <th>1-10 acc, gap 2</th>
                            <th>Precision</th>
                            <th>Recall</th>
                            <th>R<sup>2</sup></th>
                            <th>MAE</th>
                            <th>MSE</th>
                            <th>Corr. pairs</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th colspan="10" class="warning">Results articles</th>
                        <tr>
                            <td>6 - Neuroaesthetics in Fashion</td>
                            <td>0.1963</td>
                            <td>-</td>
                            <td>-</td>
                            <td>0.1706</td>
                            <td>0.1747</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>14 - Chic or social</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>0.248</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                    <tbody v-for="item in items">
                        <th colspan="10"  class="warning">{{ item.name}}</th>
                        <tr v-for="modif in item.modifications">
                            <td>{{ modif.name }}</td>
                            <td v-for="metric in METRICS" v-bind:class="{success: getMetricClass(modif, metric)}"> {{modif.results[metric]}}</td>
                        </tr>
                    </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>

        <div v-else-if="current === ARTICLES">
            <img class="mindmeister-image" src="static/img/articles.png" alt="Articles">
        </div>

        <div v-else-if="current === DATASETS">
            <img class="mindmeister-image" src="static/img/datasets.png" alt="Datasets">
        </div>

        <div v-else-if="current.name === MANUAL_FEATURES || current.name === CLOTHES_COMP">
            <div class="container-fluid">
                <div class="row description-row">
                    <div class="col-sm-6 col-md-3">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Description
                            </div>
                            <div class="chart-stage">
                                <iframe class="description-row" frameborder="0" scrolling="yes" :src="descriptionPath"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Result metrics
                            </div>
                            <div class="chart-stage">
                                <iframe class="description-row" frameborder="0" scrolling="yes" :src="resultMetricsPath"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Histogram
                            </div>
                            <div class="chart-stage">
                                <div>
                                    <iframe class="description-row" frameborder="0" scrolling="yes" :src="histogramPath"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>       
            </div>
        </div>

        <div v-else>
            <div class="container-fluid">     
                <div class="row description-row">
                    <div class="col-sm-6 col-md-4">
                        <div class="chart-wrapper">
                        <div class="chart-title">
                            Description
                        </div>
                            <div class="chart-stage">
                                <iframe class="description-row" frameborder="0" scrolling="yes" :src="descriptionPath"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="chart-wrapper">
                        <div class="chart-title">
                            Result metrics
                        </div>
                            <div class="chart-stage">
                                <iframe class="description-row" frameborder="0" scrolling="yes" :src="resultMetricsPath"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Architecture
                            </div>
                            <div class="chart-stage">
                                <div class="container-scrollable description-row">
                                    <img :src="schemePath"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>       
                <div class="row plots-row">
                    <div class="col-sm-6">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Loss
                            </div>
                            <div class="chart-stage">
                                <iframe class="plots-row" frameborder="0" scrolling="yes" :src="lossPlotPath"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" v-if="!isRegression">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Accuracy
                            </div>
                            <div class="chart-stage">
                                <div>
                                    <iframe class="plots-row" frameborder="0" scrolling="yes" :src="accuracyPlotPath"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" v-if="isRegression">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                MAE
                            </div>
                            <div class="chart-stage">
                                <div>
                                    <iframe class="plots-row" frameborder="0" scrolling="yes" :src="maePlotPath"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" v-if="isRegression">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                MSE
                            </div>
                            <div class="chart-stage">
                                <div>
                                    <iframe class="plots-row" frameborder="0" scrolling="yes" :src="msePlotPath"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Histogram
                            </div>
                            <div class="chart-stage">
                                <div>
                                    <iframe class="plots-row" frameborder="0" scrolling="yes" :src="histogramPath"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div >

    <script src="https://unpkg.com/vue"></script>
    <script src="static/js/experiments_dir.js"></script>
    <script src="static/js/vue_template.js"></script>

</body>
</html>
